h1 {
    width: 100px;
    align-content: center;
}
body {
    background-color: rgb(101, 87, 255);
}

.card {
    width: 100%;
    height: auto;
    align-content: center;
}

h4 {
    width: 200px;
}